
body{
        background: #FAFAFA url(../img/bg1.jpg) no-repeat center top;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        background-size: cover;
        overflow-x:hidden;
    } 

.topWrap_wc{
	background: #fff;
}


.rewrite{
	font-family: "微软雅黑";
	position: relative;
    width: 1100px;
    height: 300px;
    margin: 0 auto;
    margin-top: 150px;
    border-top: 1px solid #999999;
    
}
.reputhead{
	position: relative;
	left: 450px;
	top: -25px;
	width: 200px;
	height: 45px;
	padding-top: 5px;
	background: #17ddd6;
	color: #fff;
	font-size: 2em;
	text-align: center;
	border-radius: 20px;
}
#logo,#back1,#back2{
    position: relative;

}
#logo{
    width: 202px;
    height: 73px;
}
#back1{
    top:40px;
    left: -200px;
}
#back2{
    left: 275px;
}
#img1,#img2{
	position: absolute;
	left: 715px;
	width: 30px;
	height: 15px;
	cursor: pointer;
	z-index: 10001;
}
#img1{
	top: 63px;
}
#img2{
	top:125px;
}
.rewrite input{
	position: relative;
	left: 343px;
    width: 400px;
    height: 40px;
    font-size: 15px;
    color: #BBBBBB;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding-left: 10px;
    margin-bottom: 20px;
    outline: none;
    z-index: 10000;
}
.send {
display: none;
position:absolute;
width:220px;
height:30px;
background:#F09CA0;
border-radius:3px; /* 圆角 */
margin:30px auto 0;
z-index: 102;
}
.send1{
    top:25px;
    left: 763px;
}
.send2{
    top: 87px;
    left: 763px;
}
.send3{
    top: 75px;
    left: 723px;
}
.send4{
    top: 75px;
    left: 723px;
}
.send span{
    font-family: "微软雅黑";
    position: relative;
    top:3px;
    left: 10px;
    font-size: 14px;
    color: #fff;
}
.send .arrow {
position:absolute;
top:7px;
left:-16px; /* 圆角的位置需要细心调试哦 */
width:0;
height:0;
font-size:0;
border:solid 8px;
border-color:rgba(0,0,0,0) #F09CA0 rgba(0,0,0,0) rgba(0,0,0,0) ;
}
#confirmbutton{
    width: 413px;
    cursor: pointer;
    text-align: center;
    font-family: "微软雅黑";
    font-size: 17px;
    color: #fff;
    background: #17ddd6;
}

#confirmbutton:hover{
    border-color:rgb(0,0,0,0);
    background-color: #F09CA0;
    background: -webkit-linear-gradient(top, #F09CA0, #F09CF0);
    background: -moz-linear-gradient(top, #F09CA0, #F09CF0);
    background: linear-gradient(top, #F09CA0, #F09CF0);
}
/*小键盘*/
#keyboard_5xbogf8c ,#keyboard_5xbogf8c li  {
  list-style: none;
  margin: 0;
  padding: 0;
-webkit-user-select: none;
-moz-user-select: none;
-ms-user-select: none;
user-select: none;
}

#keyboard_5xbogf8c{
    position:fixed;
    z-index:10002;
    width: 9.30em;
     background: rgba(158,180,185,1);
    background: -webkit-gradient(linear, 0 50%, 100% 0,from( #F09CA0) ,to(#F0FCF0),color-stop(50%, #17ddd6));
    background: linear-gradient(60deg, #F09CA0, #F0FCF0 50%, #17ddd6 100%);
    padding-left: 0.1em;
    border-radius: 0.05em;
    padding-top: 0.1em;
    box-shadow: 0 0.05em 0.1em rgba(0,0,0,.5);
    display:none;
    font-size:100px;
    right:2.10em;
    bottom:0.5em;
    -webkit-text-size-adjust:none;
}
#keyboard_5xbogf8c_left{
    position:absolute;    
    width:0.2em;
    height:0.2em;
    font-size:1em;    
    top:0em;
    left:0em;
    cursor:nw-resize;
}
#keyboard_5xbogf8c_right{
    position:absolute;    
    width:0.2em;
    height:0.2em;
    font-size:1em;    
    top:0em;
    right:0em;
    cursor:ne-resize;
}

#keyboard_5xbogf8c ::after {
    content: "";
    display: table;
    clear: both;
}

#keyboard_5xbogf8c li{    
  position:relative;
  font-family: arial,"Vrinda";
  width: 2.88em;
  height: 2.8em;
  line-height: 2.8em;
  background-color: rgba(255,255,255,.8);
  border-radius: 0.2em;
  float: left;
  text-align: center;
  font-size:0.25em;
  vertical-align: text-top;
  margin-right: 0.4em;
  margin-bottom: 0.4em;
  box-shadow: 0 0.2em 0.4em rgba(0,0,0,.5);
  cursor: pointer;
  position: relative;
  overflow:visible ;
}

#keyboard_5xbogf8c li:active {
    box-shadow: inset 0 0.04em 0 rgba(0,0,0,.5);
    top:0.08em;
}

#keyboard_5xbogf8c li:nth-child(11),#keyboard_5xbogf8c li:nth-child(43),#keyboard_5xbogf8c li:nth-child(22)  {
    background: rgba(188,188,188,.5);
    font-size: 0.20em;
    width: 5em;
    height: 3.5em;
    line-height:3.5em;
    border-radius: 0.25em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    box-shadow: 0 0.25em 0.5em rgba(0,0,0,.5);
}
#keyboard_5xbogf8c li:nth-child(43)  {  
    width: 3.6em;
}

#keyboard_5xbogf8c li:nth-child(12) {
    margin-left: 0.96em;
}
#keyboard_5xbogf8c li:nth-child(23)  {
   margin-left: 1.92em;
}
#keyboard_5xbogf8c li:nth-child(22)  {
    width: 3.6em;
    height: 4.2em;
    background-color: rgba(238,238,238,1);
    border-bottom-right-radius:0em;
    border-bottom-left-radius:0em;
    position:absolute;
    top:4.5em;
    right:0em;
    box-shadow: inset 0 0em 0 rgba(0,0,0,.5);
}

#keyboard_5xbogf8c li:nth-child(32)  {
   width: 5.04em;
   top:0;
   background-color: rgba(238,238,238,1);
   border-top-right-radius:0em;
   padding-left:0.32em;
   box-shadow: inset 0 0em 0 rgba(0,0,0,.5);
   
}

#keyboard_5xbogf8c li:nth-child(33){
    font-size: 0.20em;
    width: 5em;
    height: 3.5em;
    line-height:3.5em;
    border-radius: 0.25em;
    margin-right: 0.5em;
    margin-bottom: 0.5em;
    box-shadow: 0 0.25em 0.5em rgba(0,0,0,.5);
}

#keyboard_5xbogf8c li:nth-child(41) {
  box-sizing: border-box;
  padding-top: 0.6em;
}

#keyboard_5xbogf8c li:nth-child(41) span {
  display: block;
  line-height: 0.6;
}

#keyboard_5xbogf8c li:nth-child(42) {
  box-sizing: border-box;
  padding-top: 0.6em;
}

#keyboard_5xbogf8c li:nth-child(42) span {
  display: block;
  line-height: 0.6;
}
/**/
.findbackimg{
	position: relative;
	left: 50px;
	width: 1100px;
	margin: 0 auto;
	margin-top: 50px;
}
.findback{ 
	position: relative;
	top: 100px; 
	width:1100px;
	margin: 0 auto; 
	z-index: 100;
}

    .findback .hd ul{
    	position: absolute;
    	width:1100px; 
    	border-bottom: 1px solid #CCCCCC; 
    }

    .findback .hd li{ 
    	position: relative;
    	top:1px;
    	left: 250px;
    	list-style:none;
    	cursor: pointer;
    	float:left;
    	padding:8px 12px;
    	-webkit-transform:skew(30deg,0deg);
    	-moz-transform:skew(30deg,0deg);
    	-o-transform:skew(30deg,0deg);
    	-ms-transform:skew(30deg,0deg);
    	transform:skew(30deg,0deg);
    	z-index: 101;
    }
    .findback_no{
    	border: 1px solid rgba(0,0,0,0)
    }
    .findback_select{
    	border: 1px solid;
        border-top-color:#CCCCCC; 
        border-right-color:#CCCCCC; 
        border-left-color:#CCCCCC; 
        border-bottom-color: rgba(255,255,255,0.8);
    }
    .findback .hd li a{ 
    	display:block; 
    	text-decoration:none;
    	padding: 0px 8px; 
    	font-family: "微软雅黑"; 
    	font-weight: bold;
    	font-size: 14px; 
    	color:#666666;
    	-webkit-transform:skew(-30deg,0deg);
    	-moz-transform:skew(-30deg,0deg);
    	-o-transform:skew(-30deg,0deg);
    	-ms-transform:skew(-30deg,0deg);
    	transform:skew(-30deg,0deg)}
.findbackbody{
	position: relative;
}
.findback input{
	position: absolute;
	left: 300px;
	width: 400px;
    height: 40px;
    font-size: 15px;
    color: #BBBBBB;
    border: 1px solid #CCCCCC;
    border-radius: 4px;
    padding-left: 10px;
    margin-bottom: 20px;
    outline: none;
}
input::-webkit-input-placeholder, textarea::-webkit-input-placeholder { 
    color:    #CCCCCC;
    font-family: "微软雅黑";
}
input:-moz-placeholder, textarea:-moz-placeholder { 
    color:    #CCCCCC;
    font-family: "微软雅黑";
}
input::-moz-placeholder, textarea::-moz-placeholder { 
    color:    #CCCCCC;
    font-family: "微软雅黑";

}
input:-ms-input-placeholder, textarea:-ms-input-placeholder { 
    color:    #CCCCCC;
    font-family: "微软雅黑";
}
.findback-div #changeone{
	position: absolute;
	color: #17ddd6;
	top:190px;
	left: 670px;
	cursor: pointer;
}
.findback-div #backlogin{
	position: absolute;
	color: #17ddd6;
	top:350px;
	left: 650px;
}
.findback-div #backlogin:hover{
	
	color: #999999;
}
#phonefindback,#emailfindback{
	top:100px;
}
#code1,#code2{
	top: 180px;
	width: 150px;
}
#sendphone,#sendemail{
	top:260px;
	width: 412px;
	cursor: pointer;
    text-align: center;
    font-family: "微软雅黑";
    font-size: 17px;
    color: #fff;
    background: #17ddd6;
}

#sendphone:hover,#sendemail:hover{
    border-color:rgb(0,0,0,0);
    background-color: #F09CA0;
    background: -webkit-linear-gradient(top, #F09CA0, #F09CF0);
    background: -moz-linear-gradient(top, #F09CA0, #F09CF0);
    background: linear-gradient(top, #F09CA0, #F09CF0);
}
.emailsent{
    display: none;
    position: absolute;
    top:70px;
    left: 300px;
    font-family: "微软雅黑";
    width: 400px;
    height: 300px;
    background: #fff;
    border: 4px solid #777777;
    border-radius: 7px;
    -webkit-box-shadow:  5px 5px 10px #000;
    box-shadow:  5px 5px 10px #000;
    z-index: 999999;
}
.emailsent h1{
    text-align: center;
    color: #70AA39;
    font-size: 21px;
    font-weight: normal;
    letter-spacing: 1px;
    margin-top: 30px;
    margin-bottom: 30px;
}

#p1{
    margin: 0 auto;   
    text-align: center;
    margin-bottom: 30px;
    font-size: 14px;
    color: #CCCCCC;
}
#p1 span{
    padding: 0 5px;
}
#p2{
    position: relative;
    text-align: center;
    margin: 0 auto;
    margin-left: 160px;
    margin-bottom: 50px;
}
#p2 a{
    color: #17ddd6;
    cursor: pointer;
}
#lookemail{
    position: relative;
    left: 110px;
    width: 180px;
    height: 35px;
    cursor: pointer;
    text-align: center;
    font-family: "微软雅黑";
    font-size: 17px;
    color: #fff;
    background: #17ddd6;
    border-radius: 3px;
}

#lookemail:hover{
    border-color:rgb(0,0,0,0);
    background-color: #F09CA0;
    background: -webkit-linear-gradient(top, #F09CA0, #F09CF0);
    background: -moz-linear-gradient(top, #F09CA0, #F09CF0);
    background: linear-gradient(top, #F09CA0, #F09CF0);
}

.allpagefoot{
    margin-top: 250px;
    border-top: 3px solid #CCCCCC;
}